<script src="../vue.js"></script>
<div id="app-1"> 
	<ol>
		<li v-for="todo in todos">
			{{todo.text}}
		</li>
	</ol>
</div>
<div id="app-2">
	<p>{{message}}</p>
	<button v-on:click="messageReverse">点我翻转</button>
</div>
<script>
	//遍历 v-for=" "
	var app = new Vue({
		el:'#app-1',
		data:{
			todos:[
			  {text:'JavaScript'},
				{text:'vue'},
				{text:'项目'}
			]
		}
	});
	//监听 v-on:click=" "
	var app = new Vue({
		el:'#app-2',
		data:{
			message:'Hello Worlld'
		},
		methods:{
			messageReverse:function(){
				this.message = this.message.split('').reverse().join('');
			}
		}
	});
</script>